<!DOCTYPE html>
<html lang="en">
	<head>
    		<meta name="viewport" content="width=device-width, initial-scale=1">
    		<title>Irisind Chat</title>
    		<!-- Bootstrap -->
    		<link href="css/bootstrap.min.css" rel="stylesheet">
  	</head>
  	<body>
    	<!--Header-->
  		<div class="col-md-12" >
			<div class="btn btn-info" style="margin-top:2rem;">
	  			<a href="/profile1" style="float:left; margin-right:2rem">Home</a>
			</div>
  			<img style="width:5%; margin-top:2rem; margin-right:2rem; psition:fixed" align="right" src="/image.png" name="userimage" id="userimage" alt="..." class="img-circle"></h1>
			<div class="btn btn-info" style="float:right; margin-top:2rem; margin-right:2rem; psition:fixed">
      				<a href="/profile" style="float:right; margin-right:2rem; psition:fixed "><%= user.user.firstname %>&nbsp<%= user.user.lastname %></a>
			</div>
			<div class="btn btn-info" style="float:right; margin-right:2rem; margin-top:2rem;">      
				<a href="/logout" >Sign Out</a>
			</div>
			
    		</div>
		<div class="panel panel-default" style="background-color:#D0C0D0;height:250px"> 
			<div align="centre" style="position:relative; margin-top:4em;">   
      				<a href="http://www.momentaint.com" style="position:relative; margin-left:26em;">
					<img style="width:25%" src="images/momenta_logo.png">	
				</a>
  			</div>
		</div>

	</div>  
	</body>
</html>
